In [100]:
import numpy as np
import pandas as pd
import statistics as st

In [101]:
tf=pd.read_csv("test file.csv")
tf

,country,Region,Surface area (km2),Population in thousands (2017),GDP per capita (current US$),Agricultural production index,International trade: Imports (million US$)
0,Afghanistan,SouthernAsia,652864.0,35530.0,6.232000e+02,125.0,3568.0
1,Albania,SouthernEurope,28748.0,2930.0,3.984200e+03,134.0,4669.0
2,Algeria,NorthernAfrica,2381741.0,41318.0,4.154100e+03,160.0,47091.0
3,Angola,MiddleAfrica,1246700.0,29784.0,4.714100e+03,175.0,8790.0
4,Antigua and Barbuda,Caribbean,442.0,102.0,1.476450e+04,88.0,491.0
...,...,...,...,...,...,...,...
996,NaN,NaN,NaN,NaN,NaN,NaN,NaN
997,NaN,NaN,NaN,NaN,NaN,NaN,NaN
998,NaN,NaN,NaN,NaN,NaN,NaN,NaN
999,NaN,NaN,NaN,NaN,2.472626e+06,NaN,NaN
1000,NaN,NaN,NaN,NaN,1.545392e+05,NaN,NaN

In [102]:
tf.head()

,country,Region,Surface area (km2),Population in thousands (2017),GDP per capita (current US$),Agricultural production index,International trade: Imports (million US$)
0,Afghanistan,SouthernAsia,652864.0,35530.0,623.2,125.0,3568.0
1,Albania,SouthernEurope,28748.0,2930.0,3984.2,134.0,4669.0
2,Algeria,NorthernAfrica,2381741.0,41318.0,4154.1,160.0,47091.0
3,Angola,MiddleAfrica,1246700.0,29784.0,4714.1,175.0,8790.0
4,Antigua and Barbuda,Caribbean,442.0,102.0,14764.5,88.0,491.0

In [122]:
#q1
a=tf['country'].nunique()

In [132]:
a

196

In [131]:
rg = tf.groupby(by=['Region'])['country'].nunique()
rg

Region
Caribbean            16
CentralAmerica        8
CentralAsia           5
EasternAfrica        17
EasternAsia           7
EasternEurope        10
Melanesia             5
Micronesia            4
MiddleAfrica          9
NorthernAfrica        5
NorthernAmerica       4
NorthernEurope       10
Oceania               2
Polynesia             5
South-easternAsia    11
SouthAmerica         12
SouthernAfrica        5
SouthernAsia          9
SouthernEurope       12
WesternAfrica        15
WesternAsia          18
WesternEurope         7
Name: country, dtype: int64

In [106]:
tf1=tf[['Region','GDP per capita (current US$)']].groupby('Region').mean()
tf1

                   GDP per capita (current US$)
Region
Caribbean                          15135.562500
CentralAmerica                      6348.137500
CentralAsia                         4329.880000
EasternAfrica                       2088.852941
EasternAsia                        27967.614286
EasternEurope                       9292.490000
Melanesia                           9261.960000
Micronesia                          5008.300000
MiddleAfrica                        3928.833333
NorthernAfrica                      3934.960000
NorthernAmerica                    57659.000000
NorthernEurope                     42098.220000
Oceania                            44823.250000
Polynesia                           8686.520000
South-easternAsia                  10299.027273
SouthAmerica                        8499.775000
SouthernAfrica                      4191.900000
SouthernAsia                        2968.400000
SouthernEurope                     14462.741667
WesternAfrica                       1013.140000
WesternAsia                        17013.938889
WesternEurope                      55387.128571

In [133]:
tf1['GDP per capita (current US$)'].sort_values()

Region
WesternAfrica         1013.140000
EasternAfrica         2088.852941
SouthernAsia          2968.400000
MiddleAfrica          3928.833333
NorthernAfrica        3934.960000
SouthernAfrica        4191.900000
CentralAsia           4329.880000
Micronesia            5008.300000
CentralAmerica        6348.137500
SouthAmerica          8499.775000
Polynesia             8686.520000
Melanesia             9261.960000
EasternEurope         9292.490000
South-easternAsia    10299.027273
SouthernEurope       14462.741667
Caribbean            15135.562500
WesternAsia          17013.938889
EasternAsia          27967.614286
NorthernEurope       42098.220000
Oceania              44823.250000
WesternEurope        55387.128571
NorthernAmerica      57659.000000
Name: GDP per capita (current US$), dtype: float64

In [134]:
# North america is having the highest AVG GDP

In [97]:
tf2=tf[['Region','International trade: Imports (million US$)']].groupby('Region').mean()
tf2

                   International trade: Imports (million US$)
Region
Caribbean                                         3057.312500
CentralAmerica                                   57031.500000
CentralAsia                                      12063.400000
EasternAfrica                                     4726.176471
EasternAsia                                     451995.000000
EasternEurope                                    85243.900000
Melanesia                                         2896.400000
Micronesia                                          99.000000
MiddleAfrica                                      4381.222222
NorthernAfrica                                   35034.400000
NorthernAmerica                                 663552.250000
NorthernEurope                                  113407.200000
Oceania                                         112914.500000
Polynesia                                          432.000000
South-easternAsia                                98324.636364
SouthAmerica                                     32885.666667
SouthernAfrica                                   18005.600000
SouthernAsia                                     58199.333333
SouthernEurope                                   76666.666667
WesternAfrica                                     4898.333333
WesternAsia                                      46025.555556
WesternEurope                                   407498.428571

In [108]:
tf2['International trade: Imports (million US$)'].sort_values()

Region
Micronesia               99.000000
Polynesia               432.000000
Melanesia              2896.400000
Caribbean              3057.312500
MiddleAfrica           4381.222222
EasternAfrica          4726.176471
WesternAfrica          4898.333333
CentralAsia           12063.400000
SouthernAfrica        18005.600000
SouthAmerica          32885.666667
NorthernAfrica        35034.400000
WesternAsia           46025.555556
CentralAmerica        57031.500000
SouthernAsia          58199.333333
SouthernEurope        76666.666667
EasternEurope         85243.900000
South-easternAsia     98324.636364
Oceania              112914.500000
NorthernEurope       113407.200000
WesternEurope        407498.428571
EasternAsia          451995.000000
NorthernAmerica      663552.250000
Name: International trade: Imports (million US$), dtype: float64

In [ ]:
#North america is having Highest International Imports.

In [112]:
tf3=tf[['Region','GDP per capita (current US$)']].groupby('Region').std()
tf3

                   GDP per capita (current US$)
Region
Caribbean                          14579.371326
CentralAmerica                      4180.440883
CentralAsia                         4152.215490
EasternAfrica                       3716.131770
EasternAsia                        27485.120923
EasternEurope                       5415.488739
Melanesia                          13855.842686
Micronesia                          4820.669694
MiddleAfrica                        5274.846281
NorthernAfrica                       974.706575
NorthernAmerica                    25749.619445
NorthernEurope                     20671.030185
Oceania                             9233.329638
Polynesia                           6956.250286
South-easternAsia                  16311.810656
SouthAmerica                        4273.707394
SouthernAfrica                      2177.551120
SouthernAsia                        2855.708179
SouthernEurope                      9541.703216
WesternAfrica                        815.095399
WesternAsia                        18812.151459
WesternEurope                      24770.467728

In [114]:
tf3['GDP per capita (current US$)'].sort_values()

Region
WesternAfrica          815.095399
NorthernAfrica         974.706575
SouthernAfrica        2177.551120
SouthernAsia          2855.708179
EasternAfrica         3716.131770
CentralAsia           4152.215490
CentralAmerica        4180.440883
SouthAmerica          4273.707394
Micronesia            4820.669694
MiddleAfrica          5274.846281
EasternEurope         5415.488739
Polynesia             6956.250286
Oceania               9233.329638
SouthernEurope        9541.703216
Melanesia            13855.842686
Caribbean            14579.371326
South-easternAsia    16311.810656
WesternAsia          18812.151459
NorthernEurope       20671.030185
WesternEurope        24770.467728
NorthernAmerica      25749.619445
EasternAsia          27485.120923
Name: GDP per capita (current US$), dtype: float64

In [135]:
# Western Africa is having the most consistent GDP of all regions( less variant)